<% list.forEach(function(item) { %>


<div class="col-md-12 search-video-container">
    <div class="col-md-3 video-thumbnail">
        <a href="/play/<%= item._id %>"><img src="/assets/<%= item.thumbnailName %>.png"></a>
        <div class="time">
            <p>3:04</p>
        </div>
        <div class="clck">
            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
        </div>
    </div>
    <div class="col-md-9 playlist-video-info">
        <a href="/play/<%= item._id %>" class="title title-info">
            <h3><%= item.title %></h3>
        </a>
        <div class="description"><%= item.description %> </div>
        <div class="author"><a href="#"><%= item.uploader %></a></div>
    </div>
    <div class="extra-options-search-button"><span><i class="fa fa-ellipsis-v"></i></span></div>
    <div class="extra-options-container">
        <div class="options">
            <span class="fa fa-clock-o"></span> <span>Watch Later</span>
        </div>
        <div class="options" onclick="addThisToPlaylist(this)" data-videoid="<%= item._id %>">
            <span class="fa fa-server"></span><span> Add to Playlist</span>
        </div>
        <div class="options">
            <span class="fa fa-clone"></span> <span>Import (only if not yours)</span>
        </div>
        <div class="options" onclick="reportAbuse(this)" data-videoid="<%= item._id %>">
            <span class="fa fa-flag"></span> <span> Report</span>
        </div>
    </div>
</div>

<% }); %>