<!DOCTYPE html>
<html>
  <head>
      <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
      <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <% include partials/head.ejs %> <!-- This will include and link all the required js and css files -->
    <title>
      Admin Pane
    </title>
  </head>
  <body>
      <style>
          .text {
              width : 200px;
              display : block;
              overflow : hidden;
              white-space : nowrap;
              text-overflow : ellipsis;
          }
          .container1 {
                position: relative; 
                min-width: 20rem; /* Maximum width */
                margin: 0 auto; /* Center it */
                }

                .container1 .content {
                position: absolute; /* Position the background text */
                bottom   : 0; /* At the bottom. Use top:0 to append it to the top */
                background: rgb(0, 0, 0); /* Fallback color */
                background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
                color: #f1f1f1; /* Grey text */
                width: 100%; /* Full width */
                padding: 6px; /* Some padding */
                }

body {
  background: #F1F3FA;
}

/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}
      </style>
      <script>
          console.log(validrequest);
      </script>

<div class="container">
  <div class="row profile">
  <div class="col-md-3">
    <div class="profile-sidebar">
      <!-- SIDEBAR USERPIC -->
      <div class="profile-userpic">
        <img src="../static/images/download.png" class="img-responsive" alt="">
      </div>
      <!-- END SIDEBAR USERPIC -->
      <!-- SIDEBAR USER TITLE -->
      <div class="profile-usertitle">
        <div class="profile-usertitle-name">
         ADMIN PANEL
        </div>
        <div class="profile-usertitle-job">
          Name Of Admin
        </div>
      </div>
      <!-- END SIDEBAR USER TITLE -->
      <!-- SIDEBAR BUTTONS -->
      <!-- <div class="profile-userbuttons">
        <button type="button" class="btn btn-success btn-sm">Follow</button>
        <button type="button" class="btn btn-danger btn-sm">Message</button>
      </div> -->
      <!-- END SIDEBAR BUTTONS -->
      <!-- SIDEBAR MENU -->
      <div class="profile-usermenu">
        <!-- <ul class="nav">
          <li class="active">
            <a href="/">
            <i class="glyphicon glyphicon-home"></i>
            Uploaded_Video </a>
          </li>
          <li>
            <a href="#">
            <i class="glyphicon glyphicon-user"></i>
            Account Settings </a>
          </li>
          <li>
            <a href="#" target="_blank">
            <i class="glyphicon glyphicon-ok"></i>
            Tasks </a>
          </li>
          <li>
            <a href="#">
            <i class="glyphicon glyphicon-flag"></i>
            Help </a>
          </li>
        </ul> -->
      </div>
      <!-- END MENU -->
    </div>
  </div>
  <div class="col-md-9">
          <div class="profile-content">
            <div class="row">
        
              <% requests.forEach( function( item ) { var link = '/play/'; var link2 = '/video/removeVideo/'; var link3 = '/video/noIssue/' %>
      
                  <div class="card" style="padding-top:8px;">
                          <div class="container">
                        <!-- <a href = <%= item.url %> >-->
                          <a href= <%= link.concat( item.videoId._id )  %> >
                          <h6><%= item.videoId.title %></h6>
                          </a>
                          </div>
                          <div class="card-body" style="padding-top:0px; padding-bottom:4px;">
                            
                            <p class="card-text text" id="video_uploader" style="font-size : 9px;padding-top:0px;">uploader:<%= item.videoId.uploaderName %></p>
                            <p class="card-text text" id="video_reporter" style="font-size : 9px;padding-top:0px;">reporter:<%= item.reporter %></p>
                            <div>
                            <!-- <div style="width: 17%; float:left ; font-size:12px;" id="views">
                                  <%= item.views %>
                               </div>
                               <div style="width: 53%; float:center;font-size:12px;" id="date_of_upload">
                                  <%= moment(item.uploadTime).format('MM-DD-YYYY') %>
                               </div> -->
                              <div style="width: 50%; float:left;font-size:12px;">
                                    <form action= <%= link2.concat( item._id ) %> >
                                        <button class="btn btn-info" type="submit" style="height:30px;width:70px">REMOVE</button>
                                    </form>
                                      
                               </div>
                               <div style="width: 50%; float:right;font-size:12px;">
                                    <form action= <%= link3.concat( item._id ) %> >
                                        <button class="btn btn-info" type="submit" style="height:30px;width:70px">IT'S OK</button>
                                    </form>
                                      
                               </div>
                               <!-- onclick="remove_it( item.uploader , item.reporter )"  -->
                            </div>
          
                        </div>
                  </div>
      
              <% })%>

              


              
              </div>
          </div>
  </div>
</div>
</div>

     
   <% include partials/footer.ejs %> <!-- for including footers -->
   <script>
       function remove_it(id){
           console.log("ab toh ho jayega" + id);
           alert("ab toh ho jayega"+id);
       }
   </script>
  </body>
  </html>